header {

    border: 2px solid#000;
    margin-bottom: 7px;
    border-radius: 10px;
    padding:5px;
    background-color: #000000;
    

}

nav{
    float: left;
    background-color: #ceddef;
    width: 190px;
    height: 100%;
    border: 2px solid#000;
    border-radius: 10px;
    padding:5px;   
}

nav.navegador1{

    position:relative;
    float: bottom;

}

nav.navegador2{

    position:absolute;
    margin-top: 210px;
    height: 200px;
    margin-left: 0%;
    float: bottom;
    
}

nav.navegador3{

    position:absolute;
    margin-top: 432px;
    height: 200px;
    margin-left: 0%;
    float: bottom;
    
}

section{
    margin-left:210px;
    margin-bottom: 7px;
    border: 2px solid#000;
    border-radius: 10px;
    padding:5px;
}



footer{
    margin-left: 210px;
    margin-top: 7px;
    border: 2px solid#000;
    border-radius: 10px;
    padding:5px;   
}

