header {

    border: 2px solid#000;
    margin-bottom: 7px;
    border-radius: 10px;
    padding:5px;
    background-color: #000000;
    

}

.navegador{
    float: left;
    background-color: #ceddef;
    width: 190px;
    height: 100%;
    border: 2px solid#000;
    border-radius: 10px;
    padding:5px;
    
}

nav{
    float: right;
    width: 190px;
    height: 100%;
    border: 2px solid#000;
    border-radius: 10px;
    padding:5px;
    
}


section{

    height: 733px;
    margin-left:210px;
    margin-right: 210px;
    border: 2px solid#000;
    border-radius: 10px;
    padding:5px;

}

footer{
    margin-left: 210px;
    margin-right: 210px;
    margin-top: 7px;
    border: 2px solid#000;
    border-radius: 10px;
    padding:5px;
    
     
}

