section h1, h2, h4, h5, nav h1{
    color: #120E9D;
    font-family:Arial, Helvetica, sans-serif;
    
}

section p, nav p, footer{
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}

